/* -----------------------------------Featured Work Section -----------------------------------------*/

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnes */
  grid-gap: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.motion-video {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer; /* Canvia el cursor per indicar interacció */
  transition: opacity 0.3s ease;
}

/* Contenidor de cada vídeo */
.motion-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.motion-item.enlarge {
  transform: scale(1.05); /* Escala l'element un 5% */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Opcional: afegeix una ombra */
}

.filter-container {
  display: flex;
  justify-content: left;
  padding-top: 2rem;
  padding-left: 1.8rem;
}

.filter-container button {
  margin: 0 0.625rem;
  padding: 0.625rem 1.25rem;
  background-color: #1f1f1f;
  color: #d7b46a;
  border: none;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #d7b46a;
  color: #252423;
}

/* Responsivitat */
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 columnes per a pantalles més petites */
  }

  .filter-container {
    padding-left: 1rem;
  }

  .filter-container button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
  }
}
