/* ---------------------------- AuthPage ---------------------------- */

.auth-page {
  display: flex;
  min-height: 100vh;
  max-height: 78rem;
}

.auth-image-section {
  flex: 1;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-form-section {
  position: relative;
  flex: 1;
  background-color: #333;
  color: #d7b46a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.brand-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #d7b46a;
  text-align: center;
  position: absolute;
  margin-top:0rem;
  transform: translateX(-50%);

}


.auth-toggle {
  cursor: pointer;
  color: #d7b46a;
  text-decoration: underline;
  padding-top:0rem;
}

/* Responsivitat */
@media (max-width: 768px) {
  .auth-page {
    flex-direction: column;
  }

  .auth-form-section {
    padding: 1.5rem;
  }

  .brand-title {
    font-size: 2.5rem;
    top: 5%;
  }
}
