/* -------------------------- Checkout Page -------------------------- */

.containerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
  padding-bottom: 5rem;
  gap: 1.25rem;
}

.checkoutContainer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 1.25rem;
}

/* Checkout Form */
.checkoutForm {
  width: 40%;
  padding: 1.875rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

/* Botó d'inici de sessió */
.signInButton {
  align-self: flex-start;
  background-color: #1e1f1f;
  color: #d7b46a;
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1.25rem;
}

/* Botó per codis promocionals */
.promoLink {
  background: none;
  border: none;
  color: #1e1f1f;
  text-decoration: underline;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1.25rem;
  display: inline-block;
  white-space: nowrap;
  margin-left: 2px;
}

/* Botons de pagament */
.paymentOptions {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.paypalButton,
.amazonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.8125rem;
  background-color: #d7b46a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.paypalButton img,
.amazonButton img {
  width: 50%;
  height: auto;
  display: block;
}

.amazonButton img {
  margin-top: 0.5rem;
}

/* Camps del formulari */
.formInput {
  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border: 1px solid #1b1b1b;
  width: 100%;
  font-size: 0.875rem;
  color: #1b1b1b;
  background-color: #ffffff;
  box-sizing: border-box;
}

.formInput:focus {
  outline: none;
  border-color: #b5974f;
}

/* Files de camps d'entrada */
.formRow {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.formRowLarge {
  width: 100%;
}

.formRowLarge .formInput {
  width: 100%;
}

.formLabel {
  font-size: 0.75rem;
  color: #1e1f1f;
}

/* Botó 'Continue to shipping method' */
button[type="submit"] {
  background-color: #1e1f1f;
  color: #d7b46a;
  border: none;
  padding: 0.938rem;
  font-size: 0.875rem;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1.25rem;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #d7b46a;
  color: #1e1f1f;
}

/* Estil per a 'Your information is secure' */
.secureInfo {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #999;
  margin-top: 0.625rem;
  align-self: flex-start;
}

.secureInfo img {
  width: 1.25rem;
  height: auto;
  margin-right: 0.5rem;
}

/* Responsivitat */
@media (max-width: 768px) {
  .checkoutContainer {
    flex-direction: column;
    width: 90%;
  }

  .checkoutForm,
  .cartSummary {
    width: 100%;
  }

  .promoCheckbox,
  .paymentOptions,
  button[type="submit"] {
    width: 100%;
  }
}

/*--------------- cartSummary----------------------*/

.cartSummary {
  width: 45%;
  padding: 1.5625rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}
