/* -------------------------- Choose Artwork Section -------------------------- */

.choose-artwork-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  background-color: #f5f5f5;
  height: calc(105vh - 10rem); /* Ajustat per tenir en compte el menú i el footer */
}

.choose-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  margin-right: 2rem;
  padding-right: 3rem;
  margin-left: -4.3rem;
}

.artwork-size-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.artwork-preview {
  flex: 3;
  margin-top: 4rem;
  margin-right: 1.25rem;
}

.artwork-image {
  max-width: 90%;
  border: 5px solid #d7b46a;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.artwork-options {
  min-width: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 1.25rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: -6rem;
  margin-bottom: 1rem;
  padding-bottom: 4rem;
}

.artwork-options h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.artwork-options label {
  font-size: 1rem;
  margin-bottom: 0.3125rem;
}

.artwork-options select,
.artwork-options input {
  margin-bottom: 1.25rem;
  padding: 0.3125rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 3.125rem;
}

.confirm-button {
  background-color: #d7b46a;
  color: #1f1f1f;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem 1.875rem;
  border: none;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #b6953c;
  transition: background-color 0.3s ease;
}

/* Estrelles de valoració */
.rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.rating-stars img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.3125rem;
}

/* Responsivitat */
@media (max-width: 768px) {
  .artwork-size-selection {
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
  }

  .choose-title {
    font-size: 1rem;
    margin-left: 0;
  }

  .artwork-preview {
    margin-top: 2rem;
  }

  .artwork-options {
    margin-left: 0;
    width: 100%;
  }
}
