/* -------------------------- Generative Art Section -------------------------- */

.generative-art-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #252423;
  overflow: hidden;
}

/* Estils per al vídeo */
.generative-art-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Contenidor del text */
.generative-art-overlay {
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5rem 10rem;
  display: inline-block;
  border-radius: 10px;
}

/* Estils per al títol */
.generative-art-title {
  font-size: 3rem;
  color: #d7b46a;
  font-family: "Bebas Neue", sans-serif;
}

.generative-art-title a {
  text-decoration: none;
  color: #d7b46a;
  transition: color 0.3s ease;
}

.generative-art-title a:hover {
  color: #ececec;
}

/* Responsivitat */
@media (max-width: 768px) {
  .generative-art-overlay {
    padding: 2rem 3rem;
  }

  .generative-art-title {
    font-size: 2rem;
  }
}
