/* -------------------------- Customization Window -------------------------- */

.customization-window {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  width: 12.5rem; /* 200px per adaptar-ho a rem */
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.9375rem;
  z-index: 9999;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.customization-window.open {
  max-height: 18.75rem; /* 300px */
  opacity: 1;
}

/* Ajustos dels controls */
.customization-title {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.customization-controls label {
  display: block;
  margin-bottom: 0.3125rem;
}

.customization-controls input,
.customization-controls select {
  width: 100%;
  padding: 0.3125rem;
  margin-bottom: 0.625rem;
  font-size: 0.8rem;
}

.customization-controls button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 0.625rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.customization-controls button:hover {
  background-color: #45a049;
}

/* Botó per obrir/tancar la finestra */
.customization-button {
  position: fixed;
  top: 30rem;
  left: 1.25rem;
  background-color: #d7b46a;
  color: black;
  padding: 0.5rem 0.625rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 10000;
}

.customization-button:hover {
  background-color: dimgray;
  color: #d7b46a;
}

/* Responsivitat */
@media (max-width: 768px) {
  .customization-window {
    width: 90%; /* Amplada total en pantalles petites */
    left: 5%; /* Centra la finestra */
    top: 1rem;
  }
  .customization-button {
    top: auto;
    bottom: 1.25rem; /* Col·loca el botó a prop de la part inferior */
    left: 5%;
  }
}
