/*-------------------------------- Photography -------------------------- ------------------------*/

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
}

.photography-section {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/photography.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.content-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #d7b46a;
  z-index: 2;
}

.title {
  font-size: 3.5rem; /* 56px */
  font-weight: 400;
  letter-spacing: -0.05em; /* Lleugera ajusta de l'espaiat */
}

.description {
  font-size: 1.1rem; /* 17px */
  letter-spacing: -0.02em;
  margin-top: 20px;
}

.call-to-action {
  margin-top: 40px;
}

button {
  background: #1f1f1f;
  color: #d7b46a;
  padding: 0.75em 2.5em; /* 12px 46px */
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #3a3a3a;
}

/* Responsivitat */
@media (max-width: 768px) {
  .title {
      font-size: 2rem; /* Redueix la mida del títol */
  }
  .description {
      font-size: 1rem; /* Redueix la mida de la descripció */
  }
  .content-wrapper {
      top: 20%;
  }
  .call-to-action {
      margin-top: 20px;
  }
}
