/*--------------------------------- signe marca registrada ---------------------------------------*/
.reg-symbol {
  font-size: 0.8em;
  color: #d7b46a;
  vertical-align: super;
}

/*-------------- Estils per als components Photography - Frontend - MotionGraphics ----------------*/
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0.625rem;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-menu li {
  margin-bottom: 0.625rem;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
}

/*-------------------------------- Photography ---------------------------------------------*/
.photography-section {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/photography.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.content-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #d7b46a;
  z-index: 2;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.description {
  font-size: 1.063rem;
  letter-spacing: -0.26px;
  margin-top: 1.25rem;
}

.call-to-action {
  margin-top: 2.5rem;
}

button {
  background: #1f1f1f;
  color: #d7b46a;
  padding: 0.75rem 2.875rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #d7b46a;
  color: #3a3a3a;
}

/*-------------- serveix de patró per a les diferents 3 seccions -------------------------------- */
/*------------------------ SERVICE SECTION PHOTO -------------------------------------------------*/

.servicesIcons {
  background-color: #1f1f1f;
  display: flex;
  width: 100%;
  color: #d7b46a;
  text-align: center;
  letter-spacing: -0.27px;
  justify-content: center;
  padding: 2.875rem 0;
  font: 700 1.125rem/1.875rem Montserrat, sans-serif;
  gap: 20rem;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.serviceIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 8.125rem;
  transition: filter 0.3s ease-in-out;
}

.serviceItem .serviceIcon:hover {
  filter: brightness(90%);
}

.serviceTitle {
  margin-top: 1.313rem;
}

.serviceItem.active .serviceIcon {
  filter: grayscale(100%);
}

.serviceItem .serviceIcon {
  filter: grayscale(0%);
}

.serviceItem.active {
  background-color: transparent;
  border-radius: 50%;
}

/* PhotoCorporatePortaits */

.photo-explanation {
  background: #ececec;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.5rem;
  padding-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom:2rem;
}

.photo-flexContainer {
  display: flex;
  width: 100%;
  gap: 1.25rem;
}

.photo-leftColumn {
  width: 25%;
  text-align: justify;
}

.photo-rightColumn {
  width: 60%;
}

.photo-contentWrapper {
  font-family: "Montserrat", sans-serif;
}

.photo-title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}

.photo-description {
  margin-top: 1.25rem;
  line-height: 1.5;
}

.photo-ctaButton {
  margin-top: 1.875rem;
  padding: 0.75rem 1.5rem;
  background-color: #1e1f1f;
  color: #d7b46a;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.photo-servicesContainer {
  display: flex;
  flex-direction: column;
}

.photo-serviceRow,
.photo-flexContainer {
  display: flex;
  justify-content: space-between;
  gap: 8.75rem;
}

.photo-serviceColumn {
  width: 45%;
  margin-top: 3rem;
}

.photo-serviceContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photo-serviceIcon {
  width: 4.625rem;
  height: 4.625rem;
  object-fit: contain;
}

.photo-serviceTitle {
  font-size: 1.5rem;
  margin-top: 0.938rem;
}

.photo-serviceDescription {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.serviceIcon {
  width: 6.25rem;
  height: auto;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}

.serviceIcon.activeIcon {
  filter: grayscale(100%);
}

/* Contenidor principal de l'experiència */
.experience-container {
  background-color: #1f1f1f;
  padding: 2.5rem 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d7b46a;
  padding-bottom: 5em;
}

/* Títol */
.experience-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

/* Contenidor del carrusel */
.carousel-container {
  width: 100%;
  max-width: 75rem;
  max-height: 56.25rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imatges del carrusel */
.carousel-image {
  width: 100%;
  max-width: 50rem;
  height: auto;
  object-fit: cover;
  max-height: 43.75rem;
  border-radius: 8px;
  margin-right: 1.25rem;
  transition: transform 0.5s ease;
  margin-left: 2.5%;
}

/* Botons de navegació */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 0.625rem;
  cursor: pointer;
  z-index: 2;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

/* Responsivitat */
@media (max-width: 768px) {
  .servicesIcons,
  .photo-explanation,
  .carousel-container {
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1.25rem;
  }

  .photo-leftColumn,
  .photo-rightColumn,
  .photo-serviceColumn,
  .photo-serviceRow {
    width: 100%;
  }

  .experience-title {
    font-size: 1.5rem;
  }

  .carousel-image {
    max-width: 100%;
    margin: 0;
  }

  .carousel-button {
    padding: 0.5rem;
  }
}

/*------------------------------ CONTACT FORM -----------------------------------------------------*/

.contact-container {
  position: relative;
  background-image: url("../src/assets/freelance.jpg");
  background-size: cover;
  background-position: center;
  padding: 4.375rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(201, 198, 198, 0.7);
  z-index: 1;
}

.contact-wrapper {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 31.25rem;
  width: 100%;
  margin-left: auto;
  margin-right: 10%;
}

.contact-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.938rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  resize: none;
  height: 9.375rem;
}

.contact-form button {
  padding: 0.938rem;
  font-size: 0.875rem;
  background-color: #1e1f1f;
  color: #d7b46a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #d7b46a;
  color: #3a3a3a;
}

/* Responsivitat */
@media (max-width: 768px) {
  .contact-wrapper {
    padding: 2rem;
    margin: 0 1rem;
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.813rem;
  }

  .contact-form button {
    font-size: 0.813rem;
  }
}

/*-------------------------------  WebFrontEnd ---------------------------------------------------*/
.frontend-section {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.frontend-section .hero-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/website.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.frontend-section .hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.content-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #d7b46a;
  z-index: 2;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.description {
  font-size: 1.063rem;
  letter-spacing: -0.26px;
  margin-top: 1.25rem;
}

.call-to-action {
  margin-top: 2.5rem;
}

button {
  background: #1e1f1f;
  color: #d7b46a;
  padding: 0.75rem 2.875rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #d7b46a;
  color: #3a3a3a;
}

/* Responsivitat */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .call-to-action {
    margin-top: 1.5rem;
  }

  button {
    padding: 0.625rem 2rem;
    font-size: 0.875rem;
  }
}

/* ----------------------------   Motion Graphic ---------------------------------------------------*/
.motion-section {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

.motion-section .hero-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url("../src/assets/motion.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.motion-section .hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.content-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #d7b46a;
  z-index: 2;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.description {
  font-size: 1.063rem;
  letter-spacing: -0.26px;
  margin-top: 1.25rem;
}

.call-to-action {
  margin-top: 2.5rem;
}

button {
  background: #1f1f1f;
  color: #d7b46a;
  padding: 0.75rem 2.875rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #d7b46a;
  color: #3a3a3a;
}

/* Responsivitat */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .call-to-action {
    margin-top: 1.5rem;
  }

  button {
    padding: 0.625rem 2rem;
    font-size: 0.875rem;
  }
}

/* Responsivitat per a mòbils */
@media (max-width: 480px) {
  .servicesIcons,
  .photo-explanation,
  .carousel-container {
    flex-direction: column;
    padding: 1.5rem 0.5rem;
    gap: 0.625rem;
  }

  .photo-leftColumn,
  .photo-rightColumn,
  .photo-serviceColumn,
  .photo-serviceRow,
  .photo-flexContainer {
    width: 100%;
  }

  .experience-title {
    font-size: 1.25rem;
  }

  .carousel-image {
    max-width: 100%;
    margin: 0;
  }

  .carousel-button {
    padding: 0.3rem;
  }

  .contact-wrapper {
    padding: 1.5rem;
    margin: 0 0.5rem;
  }

  .contact-title {
    font-size: 1.25rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.75rem;
  }

  .contact-form button {
    font-size: 0.75rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .call-to-action {
    margin-top: 1rem;
  }

  button {
    padding: 0.5rem 1.5rem;
    font-size: 0.75rem;
  }

  .photo-title {
    font-size: 1.5rem;
  }

  .photo-description {
    margin-top: 0.75rem;
    line-height: 1.4;
  }

  .photo-ctaButton {
    margin-top: 1.25rem;
    padding: 0.625rem 1rem;
  }

  .contact-container {
    padding: 2rem 0;
  }

  .hero-image {
    background-position: center;
    background-size: cover;
  }

  .content-wrapper {
    top: 20%;
    transform: translate(-50%, -20%);
    text-align: center;
    padding: 0 1rem;
  }

  .servicesIcons {
    gap: 2rem;
  }

  .serviceIcon,
  .photo-serviceIcon {
    width: 3.125rem;
  }

  .serviceTitle,
  .photo-serviceTitle {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .photo-serviceDescription {
    font-size: 0.75rem;
  }

  .experience-container {
    padding-bottom: 2.5em;
  }
}
